<div class="container">
    <div class="row d-flex flex-column align-items-center">
        <div class="col">
            <div class="align-items-center img-wrap" style="text-align: center;">
                <%= image_tag 'sunsunbump_logo_v2.jpg', :size => '700x700' %>
            </div>
        </div>
        <div class="col">
            <div class="profile_text card">
                <h1>Profile</h1>
                <div class="profile_text_detail">
                    <p class="side_dec">名前</p>
                    <p class="text_bold">石川　太洋(Ishikawa Taiyo)</p>
                    <p class="side_dec">大学</p>
                    <p class="text_bold">東京理科大学経営学部経営学科3年</p>
                    <p class="side_dec">研究領域</p>
                    <p class="text_bold">データ解析(保坂ゼミ)</p>
                    <p class="side_dec">何やってる</p>
                    <p class="text_bold">個人開発、インターン</p>
                    <p class="side_dec">将来像</p>
                    <p class="text_bold">サービスの上流工程から携わり、意思決定を行える立場でありたいと考えています。</p>
                    <p class="side_dec">今後</p>
                    <p class="text_bold">新しい技術のキャッチアップ</p>
                    <p class="side_dec">好きなこと</p>
                    <p class="text_bold">アプリ開発、音楽フェスに行く</p>
                    <p class="side_dec">弱点</p>
                    <p class="text_bold">可愛い子に頼まれたら断れない</p>
                </div>
            </div>
        </div>
    </div>
</div>
