<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
</head>
<div class="container">
    <div class="row d-flex flex-column align-items-center">
        <div class="col">
            <div class="align-items-center img-wrap" style="text-align: center;">
                <%= image_tag 'sunsunbump_logo_v2.jpg', :size => '700x700' %>
            </div>
        </div>
        <div class="col">
            <div class="profile_text card">
                <h1>Profile</h1>
                <div class="profile_text_detail">
                    <p class="side_dec">名前</p>
                    <p class="text_bold">石川　太洋(Ishikawa Taiyo)</p>
                    <p class="side_dec">大学</p>
                    <p class="text_bold">東京理科大学経営学部経営学科3年</p>
                    <p class="side_dec">研究領域</p>
                    <p class="text_bold">データ解析(保坂ゼミ)</p>
                    <p class="side_dec">何やってる</p>
                    <p class="text_bold">個人開発、インターン</p>
                    <p class="side_dec">将来像</p>
                    <p class="text_bold">サービスの上流工程から携わり、意思決定を行える立場でありたいと考えています。</p>
                    <p class="side_dec">今後</p>
                    <p class="text_bold">新しい技術のキャッチアップ</p>
                    <p class="side_dec">好きなこと</p>
                    <p class="text_bold">アプリ開発、音楽フェスに行く</p>
                    <p class="side_dec">弱点</p>
                    <p class="text_bold">可愛い子に頼まれたら断れない</p>
                </div>
                <h1 style="padding-top: 30px;">Contact</h1>
                <div class="row d-flex align-items-center" style="padding-top: 30px;">
                    <div class="col" style="text-align: center;">
                        <a href="https://github.com/taitai9847"><i class="fab fa-github" style="font-size: 70px;"></i></a>
                    </div>
                    <div class="col" style="text-align: center;">
                        <a href="https://twitter.com/taiyo_sw_bump"><i class="fab fa-twitter" style="font-size: 70px;"></i></a>
                    </div>
                    <div class="col" style="text-align: center;">
                        <a href="https://www.facebook.com/profile.php?id=100044803981576&sk=about"><i class="fab fa-facebook" style="font-size: 70px;"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
