<div class="card">
  <div class="card-header" style="background-color: #ffffff;">
    <h1 class="card-title" style="padding: 0.25em 0.5em; border-left: solid 5px #7db4e6;"><%= board.title %></h1>
  </div>
  <div class="card-body">
    <p class="card-text" style="padding-top: 20px;"><%= simple_format(board.body) %></p>
  </div>
</div>